/* ==========================================================================
   Susy grid: http://susy.oddbird.net/
   ========================================================================== */
// mobile first
$total-columns:		6;
$column-width:		60px;
$gutter-width:		24px;
$grid-padding:		$gutter-width;

// desktop breakpoint
$desktop-size:		40em;
$desktop-columns:	12;

// set the default breakpoint (and include a modernizr compatible fall back for IE8 and under)
$media-layout:		$desktop-size $desktop-columns lt-ie9;

/* ==========================================================================
   Vertical rhythm: http://compass-style.org/reference/compass/typography/vertical_rhythm/

   * image heights should be multiples of the base-line-height
   * see http://atendesigngroup.com/blog/vertical-rhythm-compass for useful tips
   ========================================================================== */
$qs-base-font-size:		16;
$base-font-size:		$qs-base-font-size * 1px;
$qs-base-line-height:	24;
$base-line-height:		$qs-base-line-height * 1px;

$base-font-family:		'PT Sans', sans-serif;
$title-font-family:		'PT Sans', sans-serif;

$h1-font-size: 2		* $base-font-size;
$h2-font-size: 1.5		* $base-font-size;
$h3-font-size: 1.17		* $base-font-size;
$h4-font-size: 1		* $base-font-size;
$h5-font-size: 0.83		* $base-font-size;
$h6-font-size: 0.67		* $base-font-size;

/* ==========================================================================
   Colours
   ========================================================================== */
$white:						#fff;
$lime:						#BFFF00;
$black:						#222;

$body-bg-color:				$white;
$body-fg-color:				$black;
$body-link-color:			$lime;
$body-link-hover-color:		lighten($body-link-color, 10%);

$selected-font-color:		$white; //not currently used
$selected-background-color:	$lime;

/* ==========================================================================
   Cross-Browser Support: http://compass-style.org/reference/compass/support/
   ========================================================================== */
$legacy-support-for-mozilla:	false;
$legacy-support-for-ie6:		false;
$legacy-support-for-ie7:		false;
$legacy-support-for-ie8:		true;
$legacy-support-for-ie9:		true;

/* ==========================================================================
   Debug - set this to false to remove the grid overlay.
   ========================================================================== */
$qs-debug:	true;
