	/* __     _    ___    __      ____    __     _    _
		/    | |  |   |  | (_    _)  /  __) \   | )  /
	   (     | |  |   |  |   |  |   |  /     |  |/  /            Created by:
		\__  | |  |   |  |   |  |   | |      |     (             Daniel Hollands
		   | | |   \_/   |  _|  |_  |  \__   |  |\  \            http://danielhollands.co.uk/
	   ____| |__\       /__(      )__\    )_/   |_)  \_
	   _       ___        ______  _____     ____        __
		)  ____) (__    __)    /  \    |    \  (__    __)
	   (  (___      |  |      /    \   |     )    |  |           For:
		\___  \     |  |     /  ()  \  |    /     |  |           Lime Blast
		____)  )    |  |    |   __   | | |\ \     |  |           http://limeblast.co.uk/
	   (      (_____|  |____|  (__)  |_| |_\ \____|  |____ */

/* ==========================================================================
   Initial imports
   ========================================================================== */
@import 'base';

// compass
@import 'compass';
@import 'susy';

// H5BP: https://github.com/sporkd/compass-h5bp
@import "h5bp";
@include h5bp-normalize;
@include h5bp-main;

// my stuff
@import 'inc/mixins';
@import 'inc/extends';
@import 'inc/fonts';
@import 'inc/vertical-rhythm';

/* ==========================================================================
   Globals
   ========================================================================== */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
{
	// set title font
	font-family: $title-font-family;
	font-weight: 700;
}

a {
	// set main link colour
	@include link-colors($body-link-color, $body-link-hover-color);
}

/* Body
   ========================================================================== */
body {
	// full credit to http://basehold.it/ for this code
	@if ($qs-debug) {
		position: relative;

		&:after {
			position: absolute;
			width: auto;
			height: auto;
			z-index: 9999;
			content: '';
			display: block;
			pointer-events: none;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			background: url("http://basehold.it/i/" + $qs-base-line-height) repeat top left;
		}

		&:active:after {
			display: none;
		}
	}

	color: $body-fg-color;
	background: $body-bg-color;

	// make text slightly easier to read: http://boldperspective.com/2011/improve-web-typography-with-1-line-of-code/
	@include single-text-shadow(0, 0, 1px, false, rgba(0,0,0,0.1));
}

/* Page wrapper
   ========================================================================== */
.wrap {
	@extend .clearfix;

	// http://stackoverflow.com/a/13522469/1049688
	@include container($total-columns, $media-layout);
	@if ($qs-debug) {
		@include susy-grid-background;
	}

	@include at-breakpoint($media-layout) {
		@if ($qs-debug) {
			@include susy-grid-background;
		}
	}
}

/* Chrome Frame Prompt
   ========================================================================== */
.chromeframe {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
	@extend .wrap;
}

/* ==========================================================================
   Author's custom styles (Here be dragons)
   ========================================================================== */

/* Header
   ========================================================================== */
.header {
	@extend .clearfix;
}

	.header-title {
		@include at-breakpoint($media-layout) {
			@include span-columns(8, $desktop-columns);
		}
	}

	.header-navigation {
		@include at-breakpoint($media-layout) {
			@include span-columns(4 omega, $desktop-columns);
		}
	}

	.header-links {
		@include horizontal-list();

		@include at-breakpoint($media-layout) {
			float: right;
		}
	}

	.header-search {
		float: right;
	}

/* Main
   ========================================================================== */
.main {
	@extend .clearfix;

	@include at-breakpoint($media-layout) {
		@include span-columns(8, $desktop-columns);
	}
}

	.left-box {
		@include at-breakpoint($media-layout) {
			@include span-columns(4, 8);
		}
	}

	.right-box {
		@include at-breakpoint($media-layout) {
			@include span-columns(4 omega, 8);
		}
	}

	.feature-list {
		@include tile-list;
	}

/* Aside
   ========================================================================== */
.aside {
	@extend .clearfix;
	background: grey;
	@include bleed;

	@include at-breakpoint($media-layout) {
		@include span-columns(4 omega, $desktop-columns, $grid-padding);
	}
}

/* Footer
   ========================================================================== */
.footer {
	@extend .clearfix;
}

	.footer-copyright {
		@include at-breakpoint($media-layout) {
			@include span-columns(6, $desktop-columns);
		}
	}

	.footer-navigation {
		@include at-breakpoint($media-layout) {
			@include span-columns(6 omega, $desktop-columns);
		}
	}

	.footer-links {
		@include horizontal-list();

		@include at-breakpoint($media-layout) {
			float: right;
		}
	}

/* ==========================================================================
   Final imports
   ========================================================================== */
// H5BP
@include h5bp-helpers;
@include h5bp-media;
// my stuff
@import 'inc/shame';

/*                      /\
                        ||
                        ||
                        ||
                        ||                                               ~-----~
                        ||                                            /===--  ---~~~
                        ||                   ;'                 /==~- --   -    ---~~~
                        ||                (/ ('              /=----         ~~_  --(  '
                        ||             ' / ;'             /=----               \__~
     '                ~==_=~          '('             ~-~~      ~~~~        ~~~--\~'
     \\                (c_\_        .i.             /~--    ~~~--   -~     (     '
      `\               (}| /       / : \           / ~~------~     ~~\   (
      \ '               ||/ \      |===|          /~/             ~~~ \ \(
      ``~\              ~~\  )~.~_ >._.< _~-~     |`_          ~~-~     )\
       '-~                 {  /  ) \___/ (   \   |` ` _       ~~         '
       \ -~\                -<__/  -   -  L~ -;   \\    \ _ _/
       `` ~~=\                  {    :    }\ ,\    ||   _ :(
        \  ~~=\__                \ _/ \_ /  )  } _//   ( `|'
        ``    , ~\--~=\           \     /  / _/ / '    (   '
         \`    } ~ ~~ -~=\   _~_  / \ / \ )^ ( // :_  / '
         |    ,          _~-'   '~~__-_  / - |/     \ (
          \  ,_--_     _/              \_'---', -~ .   \
           )/      /\ / /\   ,~,         \__ _}     \_  "~_
           ,      { ( _ )'} ~ - \_    ~\  (-:-)       "\   ~
                  /'' ''  )~ \~_ ~\   )->  \ :|    _,       "
                 (\  _/)''} | \~_ ~  /~(   | :)   /          }
                <``  >;,,/  )= \~__ {{{ '  \ =(  ,   ,       ;
               {o_o }_/     |v  '~__  _    )-v|  "  :       ,"
               {/"\_)       {_/'  \~__ ~\_ \\_} '  {        /~\
               ,/!          '_/    '~__ _-~ \_' :  '      ,"  ~
              (''`                  /,'~___~    | /     ,"  \ ~'
             '/, )                 (-)  '~____~";     ,"     , }
           /,')                    / \         /  ,~-"       '~'
       (  ''/                     / ( '       /  /          '~'
    ~ ~  ,, /) ,                 (/( \)      ( -)          /~'
  (  ~~ )`  ~}                   '  \)'     _/ /           ~'
 { |) /`,--.(  }'                    '     (  /          /~'
(` ~ ( c|~~| `}   )                        '/:\         ,'
 ~ )/``) )) '|),                          (/ | \)                 -sjm
  (` (-~(( `~`'  )                        ' (/ '
   `~'    )'`')                              '
     ` ``*/
