/* __     _    ___    __      ____    __     _    _
	/    | |  |   |  | (_    _)  /  __) \   | )  /
   (     | |  |   |  |   |  |   |  /     |  |/  /            Created by:
	\__  | |  |   |  |   |  |   | |      |     (             Daniel Hollands
	   | | |   \_/   |  _|  |_  |  \__   |  |\  \            http://danielhollands.co.uk/
   ____| |__\       /__(      )__\    )_/   |_)  \_
   _       ___        ______  _____     ____        __
	)  ____) (__    __)    /  \    |    \  (__    __)
   (  (___      |  |      /    \   |     )    |  |           For:
	\___  \     |  |     /  ()  \  |    /     |  |           Lime Blast
	____)  )    |  |    |   __   | | |\ \     |  |           http://limeblast.co.uk/
   (      (_____|  |____|  (__)  |_| |_\ \____|  |____ */
/* ==========================================================================
   Initial imports
   ========================================================================== */
/* ==========================================================================
   Susy grid: http://susy.oddbird.net/
   ========================================================================== */
/* ==========================================================================
   Vertical rhythm: http://compass-style.org/reference/compass/typography/vertical_rhythm/

   * image heights should be multiples of the base-line-height
   * see http://atendesigngroup.com/blog/vertical-rhythm-compass for useful tips
   ========================================================================== */
/* ==========================================================================
   Colours
   ========================================================================== */
/* ==========================================================================
   Cross-Browser Support: http://compass-style.org/reference/compass/support/
   ========================================================================== */
/* ==========================================================================
   Debug - set this to false to remove the grid overlay.
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000333}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000340}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000348}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000355}}
[hidden] {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000369}}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000382}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\0000388}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003103}}
a:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003109}}
a:active,
a:hover {
  outline: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003122}}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003127}}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003132}}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003137}}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003142}}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003147}}
h6 {
  font-size: 0.67em;
  margin: 2.33em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003153}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003159}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003163}}
blockquote {
  margin: 1em 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003168}}
dfn {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003174}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003181}}
mark {
  background: #ff0;
  color: #000;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003188}}
p,
pre {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003196}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003203}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003210}}
q {
  quotes: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003216}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003222}}
small {
  font-size: 80%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003228}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003235}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003239}}
sub {
  bottom: -0.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003253}}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003257}}
dd {
  margin: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003264}}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003270}}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003283}}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003289}}
svg:not(:root) {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003300}}
figure {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003311}}
form {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003316}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003325}}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003339}}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003349}}
button,
input {
  line-height: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003358}}
button,
select {
  text-transform: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003372}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003380}}
button[disabled],
html input[disabled] {
  cursor: default;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003389}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003399}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003409}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003415}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003422}}
textarea {
  overflow: auto;
  vertical-align: top;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_normalize\.scss}line{font-family:\00003434}}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000322}}
html,
button,
input,
select,
textarea {
  color: #222222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000326}}
body {
  font-size: 1em;
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000334}}
::-moz-selection {
  background: #bfff00;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000339}}
::selection {
  background: #bfff00;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000345}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000355}}
img {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000360}}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000367}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_main\.scss}line{font-family:\0000377}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Mixins
   ========================================================================== */
/* Responsive tile-list (This requires susy to work)
   ========================================================================== */
/* Bleed (This requires susy to work) - lets the background colour break out the container
   https://gist.github.com/ericam/4973348
   ========================================================================== */
/* Convert PX to EM (based on the $base-font-size)
   https://gist.github.com/ijy/1441967
   ========================================================================== */
/* Convert PX to REM (based on the $base-font-size)
   http://pastie.org/2977423#
   ========================================================================== */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: local("PT Sans"), local("PTSans-Regular"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/LKf8nhXsWg5ybwEGXk8UBQ.woff) format("woff");
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local("PT Sans Bold"), local("PTSans-Bold"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/0XxGQsSc1g4rdRdjJKZrNBsxEYwM7FgeyaSgU71cLG0.woff) format("woff");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 400;
  src: local("PT Sans Italic"), local("PTSans-Italic"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/PIPMHY90P7jtyjpXuZ2cLD8E0i7KZn-EPnyo3HZu7kw.woff) format("woff");
}

@font-face {
  font-family: 'PT Sans';
  font-style: italic;
  font-weight: 700;
  src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url(http://themes.googleusercontent.com/static/fonts/ptsans/v5/lILlYDvubYemzYzN7GbLkHhCUOGz7vYGh680lGh-uXM.woff) format("woff");
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000361}}
* html {
  font-size: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/_vertical_rhythm\.scss}line{font-family:\0000364}}
html {
  font-size: 16px;
  line-height: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\000033}}
body {
  font-size: inherit;
  line-height: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000310}}
li ul,
li ol {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000319}}
p,
pre,
ul,
ol {
  margin: 1.5em 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000323}}
h1, .h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000332}}
h2, .h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000338}}
h3, .h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000342}}
h3 + *, .h3 + * {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000347}}
h4, .h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000351}}
h4 + *, .h4 + * {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000356}}
h5, .h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000360}}
h5 + *, .h5 + * {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000365}}
h6, .h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 0em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_vertical-rhythm\.scss}line{font-family:\0000369}}
h6 + *, .h6 + * {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

/* ==========================================================================
   Globals
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000342}}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000348}}
a {
  color: #bfff00;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/links\/_link-colors\.scss}line{font-family:\0000324}}
a:hover {
  color: #ccff33;
}

/* Body
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000355}}
body {
  position: relative;
  background: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000360}}
body:after {
  position: absolute;
  width: auto;
  height: auto;
  z-index: 9999;
  content: '';
  display: block;
  pointer-events: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("http://basehold.it/i/24") repeat top left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000375}}
body:active:after {
  display: none;
}

/* Page wrapper
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000388}}
.wrap, .chromeframe {
  max-width: 480px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(12.5%, rgba(100, 100, 225, 0.25)), color-stop(12.5%, rgba(0, 0, 0, 0)), color-stop(17.5%, rgba(0, 0, 0, 0)), color-stop(17.5%, rgba(100, 100, 225, 0.25)), color-stop(30%, rgba(100, 100, 225, 0.25)), color-stop(30%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(0, 0, 0, 0)), color-stop(35%, rgba(100, 100, 225, 0.25)), color-stop(47.5%, rgba(100, 100, 225, 0.25)), color-stop(47.5%, rgba(0, 0, 0, 0)), color-stop(52.5%, rgba(0, 0, 0, 0)), color-stop(52.5%, rgba(100, 100, 225, 0.25)), color-stop(65%, rgba(100, 100, 225, 0.25)), color-stop(65%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(0, 0, 0, 0)), color-stop(70%, rgba(100, 100, 225, 0.25)), color-stop(82.5%, rgba(100, 100, 225, 0.25)), color-stop(82.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(0, 0, 0, 0)), color-stop(87.5%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 12.5%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 17.5%, rgba(100, 100, 225, 0.25) 17.5%, rgba(100, 100, 225, 0.25) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 35%, rgba(100, 100, 225, 0.25) 35%, rgba(100, 100, 225, 0.25) 47.5%, rgba(0, 0, 0, 0) 47.5%, rgba(0, 0, 0, 0) 52.5%, rgba(100, 100, 225, 0.25) 52.5%, rgba(100, 100, 225, 0.25) 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(100, 100, 225, 0.25) 70%, rgba(100, 100, 225, 0.25) 82.5%, rgba(0, 0, 0, 0) 82.5%, rgba(0, 0, 0, 0) 87.5%, rgba(100, 100, 225, 0.25) 87.5%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 12.5%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 17.5%, rgba(100, 100, 225, 0.25) 17.5%, rgba(100, 100, 225, 0.25) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 35%, rgba(100, 100, 225, 0.25) 35%, rgba(100, 100, 225, 0.25) 47.5%, rgba(0, 0, 0, 0) 47.5%, rgba(0, 0, 0, 0) 52.5%, rgba(100, 100, 225, 0.25) 52.5%, rgba(100, 100, 225, 0.25) 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(100, 100, 225, 0.25) 70%, rgba(100, 100, 225, 0.25) 82.5%, rgba(0, 0, 0, 0) 82.5%, rgba(0, 0, 0, 0) 87.5%, rgba(100, 100, 225, 0.25) 87.5%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 12.5%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 17.5%, rgba(100, 100, 225, 0.25) 17.5%, rgba(100, 100, 225, 0.25) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 35%, rgba(100, 100, 225, 0.25) 35%, rgba(100, 100, 225, 0.25) 47.5%, rgba(0, 0, 0, 0) 47.5%, rgba(0, 0, 0, 0) 52.5%, rgba(100, 100, 225, 0.25) 52.5%, rgba(100, 100, 225, 0.25) 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(100, 100, 225, 0.25) 70%, rgba(100, 100, 225, 0.25) 82.5%, rgba(0, 0, 0, 0) 82.5%, rgba(0, 0, 0, 0) 87.5%, rgba(100, 100, 225, 0.25) 87.5%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 12.5%, rgba(0, 0, 0, 0) 12.5%, rgba(0, 0, 0, 0) 17.5%, rgba(100, 100, 225, 0.25) 17.5%, rgba(100, 100, 225, 0.25) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 35%, rgba(100, 100, 225, 0.25) 35%, rgba(100, 100, 225, 0.25) 47.5%, rgba(0, 0, 0, 0) 47.5%, rgba(0, 0, 0, 0) 52.5%, rgba(100, 100, 225, 0.25) 52.5%, rgba(100, 100, 225, 0.25) 65%, rgba(0, 0, 0, 0) 65%, rgba(0, 0, 0, 0) 70%, rgba(100, 100, 225, 0.25) 70%, rgba(100, 100, 225, 0.25) 82.5%, rgba(0, 0, 0, 0) 82.5%, rgba(0, 0, 0, 0) 87.5%, rgba(100, 100, 225, 0.25) 87.5%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.wrap:after, .chromeframe:after {
  content: "";
  display: table;
  clear: both;
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000388}}
  .wrap, .chromeframe {
    max-width: 984px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .wrap, .lt-ie9 .chromeframe {
  max-width: 984px;
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\0000388}}
  .wrap, .chromeframe {
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(6.09756%, rgba(100, 100, 225, 0.25)), color-stop(6.09756%, rgba(0, 0, 0, 0)), color-stop(8.53659%, rgba(0, 0, 0, 0)), color-stop(8.53659%, rgba(100, 100, 225, 0.25)), color-stop(14.63415%, rgba(100, 100, 225, 0.25)), color-stop(14.63415%, rgba(0, 0, 0, 0)), color-stop(17.07317%, rgba(0, 0, 0, 0)), color-stop(17.07317%, rgba(100, 100, 225, 0.25)), color-stop(23.17073%, rgba(100, 100, 225, 0.25)), color-stop(23.17073%, rgba(0, 0, 0, 0)), color-stop(25.60976%, rgba(0, 0, 0, 0)), color-stop(25.60976%, rgba(100, 100, 225, 0.25)), color-stop(31.70732%, rgba(100, 100, 225, 0.25)), color-stop(31.70732%, rgba(0, 0, 0, 0)), color-stop(34.14634%, rgba(0, 0, 0, 0)), color-stop(34.14634%, rgba(100, 100, 225, 0.25)), color-stop(40.2439%, rgba(100, 100, 225, 0.25)), color-stop(40.2439%, rgba(0, 0, 0, 0)), color-stop(42.68293%, rgba(0, 0, 0, 0)), color-stop(42.68293%, rgba(100, 100, 225, 0.25)), color-stop(48.78049%, rgba(100, 100, 225, 0.25)), color-stop(48.78049%, rgba(0, 0, 0, 0)), color-stop(51.21951%, rgba(0, 0, 0, 0)), color-stop(51.21951%, rgba(100, 100, 225, 0.25)), color-stop(57.31707%, rgba(100, 100, 225, 0.25)), color-stop(57.31707%, rgba(0, 0, 0, 0)), color-stop(59.7561%, rgba(0, 0, 0, 0)), color-stop(59.7561%, rgba(100, 100, 225, 0.25)), color-stop(65.85366%, rgba(100, 100, 225, 0.25)), color-stop(65.85366%, rgba(0, 0, 0, 0)), color-stop(68.29268%, rgba(0, 0, 0, 0)), color-stop(68.29268%, rgba(100, 100, 225, 0.25)), color-stop(74.39024%, rgba(100, 100, 225, 0.25)), color-stop(74.39024%, rgba(0, 0, 0, 0)), color-stop(76.82927%, rgba(0, 0, 0, 0)), color-stop(76.82927%, rgba(100, 100, 225, 0.25)), color-stop(82.92683%, rgba(100, 100, 225, 0.25)), color-stop(82.92683%, rgba(0, 0, 0, 0)), color-stop(85.36585%, rgba(0, 0, 0, 0)), color-stop(85.36585%, rgba(100, 100, 225, 0.25)), color-stop(91.46341%, rgba(100, 100, 225, 0.25)), color-stop(91.46341%, rgba(0, 0, 0, 0)), color-stop(93.90244%, rgba(0, 0, 0, 0)), color-stop(93.90244%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.09756%, rgba(0, 0, 0, 0) 6.09756%, rgba(0, 0, 0, 0) 8.53659%, rgba(100, 100, 225, 0.25) 8.53659%, rgba(100, 100, 225, 0.25) 14.63415%, rgba(0, 0, 0, 0) 14.63415%, rgba(0, 0, 0, 0) 17.07317%, rgba(100, 100, 225, 0.25) 17.07317%, rgba(100, 100, 225, 0.25) 23.17073%, rgba(0, 0, 0, 0) 23.17073%, rgba(0, 0, 0, 0) 25.60976%, rgba(100, 100, 225, 0.25) 25.60976%, rgba(100, 100, 225, 0.25) 31.70732%, rgba(0, 0, 0, 0) 31.70732%, rgba(0, 0, 0, 0) 34.14634%, rgba(100, 100, 225, 0.25) 34.14634%, rgba(100, 100, 225, 0.25) 40.2439%, rgba(0, 0, 0, 0) 40.2439%, rgba(0, 0, 0, 0) 42.68293%, rgba(100, 100, 225, 0.25) 42.68293%, rgba(100, 100, 225, 0.25) 48.78049%, rgba(0, 0, 0, 0) 48.78049%, rgba(0, 0, 0, 0) 51.21951%, rgba(100, 100, 225, 0.25) 51.21951%, rgba(100, 100, 225, 0.25) 57.31707%, rgba(0, 0, 0, 0) 57.31707%, rgba(0, 0, 0, 0) 59.7561%, rgba(100, 100, 225, 0.25) 59.7561%, rgba(100, 100, 225, 0.25) 65.85366%, rgba(0, 0, 0, 0) 65.85366%, rgba(0, 0, 0, 0) 68.29268%, rgba(100, 100, 225, 0.25) 68.29268%, rgba(100, 100, 225, 0.25) 74.39024%, rgba(0, 0, 0, 0) 74.39024%, rgba(0, 0, 0, 0) 76.82927%, rgba(100, 100, 225, 0.25) 76.82927%, rgba(100, 100, 225, 0.25) 82.92683%, rgba(0, 0, 0, 0) 82.92683%, rgba(0, 0, 0, 0) 85.36585%, rgba(100, 100, 225, 0.25) 85.36585%, rgba(100, 100, 225, 0.25) 91.46341%, rgba(0, 0, 0, 0) 91.46341%, rgba(0, 0, 0, 0) 93.90244%, rgba(100, 100, 225, 0.25) 93.90244%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.09756%, rgba(0, 0, 0, 0) 6.09756%, rgba(0, 0, 0, 0) 8.53659%, rgba(100, 100, 225, 0.25) 8.53659%, rgba(100, 100, 225, 0.25) 14.63415%, rgba(0, 0, 0, 0) 14.63415%, rgba(0, 0, 0, 0) 17.07317%, rgba(100, 100, 225, 0.25) 17.07317%, rgba(100, 100, 225, 0.25) 23.17073%, rgba(0, 0, 0, 0) 23.17073%, rgba(0, 0, 0, 0) 25.60976%, rgba(100, 100, 225, 0.25) 25.60976%, rgba(100, 100, 225, 0.25) 31.70732%, rgba(0, 0, 0, 0) 31.70732%, rgba(0, 0, 0, 0) 34.14634%, rgba(100, 100, 225, 0.25) 34.14634%, rgba(100, 100, 225, 0.25) 40.2439%, rgba(0, 0, 0, 0) 40.2439%, rgba(0, 0, 0, 0) 42.68293%, rgba(100, 100, 225, 0.25) 42.68293%, rgba(100, 100, 225, 0.25) 48.78049%, rgba(0, 0, 0, 0) 48.78049%, rgba(0, 0, 0, 0) 51.21951%, rgba(100, 100, 225, 0.25) 51.21951%, rgba(100, 100, 225, 0.25) 57.31707%, rgba(0, 0, 0, 0) 57.31707%, rgba(0, 0, 0, 0) 59.7561%, rgba(100, 100, 225, 0.25) 59.7561%, rgba(100, 100, 225, 0.25) 65.85366%, rgba(0, 0, 0, 0) 65.85366%, rgba(0, 0, 0, 0) 68.29268%, rgba(100, 100, 225, 0.25) 68.29268%, rgba(100, 100, 225, 0.25) 74.39024%, rgba(0, 0, 0, 0) 74.39024%, rgba(0, 0, 0, 0) 76.82927%, rgba(100, 100, 225, 0.25) 76.82927%, rgba(100, 100, 225, 0.25) 82.92683%, rgba(0, 0, 0, 0) 82.92683%, rgba(0, 0, 0, 0) 85.36585%, rgba(100, 100, 225, 0.25) 85.36585%, rgba(100, 100, 225, 0.25) 91.46341%, rgba(0, 0, 0, 0) 91.46341%, rgba(0, 0, 0, 0) 93.90244%, rgba(100, 100, 225, 0.25) 93.90244%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.09756%, rgba(0, 0, 0, 0) 6.09756%, rgba(0, 0, 0, 0) 8.53659%, rgba(100, 100, 225, 0.25) 8.53659%, rgba(100, 100, 225, 0.25) 14.63415%, rgba(0, 0, 0, 0) 14.63415%, rgba(0, 0, 0, 0) 17.07317%, rgba(100, 100, 225, 0.25) 17.07317%, rgba(100, 100, 225, 0.25) 23.17073%, rgba(0, 0, 0, 0) 23.17073%, rgba(0, 0, 0, 0) 25.60976%, rgba(100, 100, 225, 0.25) 25.60976%, rgba(100, 100, 225, 0.25) 31.70732%, rgba(0, 0, 0, 0) 31.70732%, rgba(0, 0, 0, 0) 34.14634%, rgba(100, 100, 225, 0.25) 34.14634%, rgba(100, 100, 225, 0.25) 40.2439%, rgba(0, 0, 0, 0) 40.2439%, rgba(0, 0, 0, 0) 42.68293%, rgba(100, 100, 225, 0.25) 42.68293%, rgba(100, 100, 225, 0.25) 48.78049%, rgba(0, 0, 0, 0) 48.78049%, rgba(0, 0, 0, 0) 51.21951%, rgba(100, 100, 225, 0.25) 51.21951%, rgba(100, 100, 225, 0.25) 57.31707%, rgba(0, 0, 0, 0) 57.31707%, rgba(0, 0, 0, 0) 59.7561%, rgba(100, 100, 225, 0.25) 59.7561%, rgba(100, 100, 225, 0.25) 65.85366%, rgba(0, 0, 0, 0) 65.85366%, rgba(0, 0, 0, 0) 68.29268%, rgba(100, 100, 225, 0.25) 68.29268%, rgba(100, 100, 225, 0.25) 74.39024%, rgba(0, 0, 0, 0) 74.39024%, rgba(0, 0, 0, 0) 76.82927%, rgba(100, 100, 225, 0.25) 76.82927%, rgba(100, 100, 225, 0.25) 82.92683%, rgba(0, 0, 0, 0) 82.92683%, rgba(0, 0, 0, 0) 85.36585%, rgba(100, 100, 225, 0.25) 85.36585%, rgba(100, 100, 225, 0.25) 91.46341%, rgba(0, 0, 0, 0) 91.46341%, rgba(0, 0, 0, 0) 93.90244%, rgba(100, 100, 225, 0.25) 93.90244%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.09756%, rgba(0, 0, 0, 0) 6.09756%, rgba(0, 0, 0, 0) 8.53659%, rgba(100, 100, 225, 0.25) 8.53659%, rgba(100, 100, 225, 0.25) 14.63415%, rgba(0, 0, 0, 0) 14.63415%, rgba(0, 0, 0, 0) 17.07317%, rgba(100, 100, 225, 0.25) 17.07317%, rgba(100, 100, 225, 0.25) 23.17073%, rgba(0, 0, 0, 0) 23.17073%, rgba(0, 0, 0, 0) 25.60976%, rgba(100, 100, 225, 0.25) 25.60976%, rgba(100, 100, 225, 0.25) 31.70732%, rgba(0, 0, 0, 0) 31.70732%, rgba(0, 0, 0, 0) 34.14634%, rgba(100, 100, 225, 0.25) 34.14634%, rgba(100, 100, 225, 0.25) 40.2439%, rgba(0, 0, 0, 0) 40.2439%, rgba(0, 0, 0, 0) 42.68293%, rgba(100, 100, 225, 0.25) 42.68293%, rgba(100, 100, 225, 0.25) 48.78049%, rgba(0, 0, 0, 0) 48.78049%, rgba(0, 0, 0, 0) 51.21951%, rgba(100, 100, 225, 0.25) 51.21951%, rgba(100, 100, 225, 0.25) 57.31707%, rgba(0, 0, 0, 0) 57.31707%, rgba(0, 0, 0, 0) 59.7561%, rgba(100, 100, 225, 0.25) 59.7561%, rgba(100, 100, 225, 0.25) 65.85366%, rgba(0, 0, 0, 0) 65.85366%, rgba(0, 0, 0, 0) 68.29268%, rgba(100, 100, 225, 0.25) 68.29268%, rgba(100, 100, 225, 0.25) 74.39024%, rgba(0, 0, 0, 0) 74.39024%, rgba(0, 0, 0, 0) 76.82927%, rgba(100, 100, 225, 0.25) 76.82927%, rgba(100, 100, 225, 0.25) 82.92683%, rgba(0, 0, 0, 0) 82.92683%, rgba(0, 0, 0, 0) 85.36585%, rgba(100, 100, 225, 0.25) 85.36585%, rgba(100, 100, 225, 0.25) 91.46341%, rgba(0, 0, 0, 0) 91.46341%, rgba(0, 0, 0, 0) 93.90244%, rgba(100, 100, 225, 0.25) 93.90244%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
    background-position: left top;
    -webkit-background-origin: content;
    -moz-background-origin: content;
    -ms-background-origin: content-box;
    -o-background-origin: content-box;
    background-origin: content-box;
    -webkit-background-clip: content-box;
    -moz-background-clip: content-box;
    background-clip: content-box;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .wrap, .lt-ie9 .chromeframe {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(6.09756%, rgba(100, 100, 225, 0.25)), color-stop(6.09756%, rgba(0, 0, 0, 0)), color-stop(8.53659%, rgba(0, 0, 0, 0)), color-stop(8.53659%, rgba(100, 100, 225, 0.25)), color-stop(14.63415%, rgba(100, 100, 225, 0.25)), color-stop(14.63415%, rgba(0, 0, 0, 0)), color-stop(17.07317%, rgba(0, 0, 0, 0)), color-stop(17.07317%, rgba(100, 100, 225, 0.25)), color-stop(23.17073%, rgba(100, 100, 225, 0.25)), color-stop(23.17073%, rgba(0, 0, 0, 0)), color-stop(25.60976%, rgba(0, 0, 0, 0)), color-stop(25.60976%, rgba(100, 100, 225, 0.25)), color-stop(31.70732%, rgba(100, 100, 225, 0.25)), color-stop(31.70732%, rgba(0, 0, 0, 0)), color-stop(34.14634%, rgba(0, 0, 0, 0)), color-stop(34.14634%, rgba(100, 100, 225, 0.25)), color-stop(40.2439%, rgba(100, 100, 225, 0.25)), color-stop(40.2439%, rgba(0, 0, 0, 0)), color-stop(42.68293%, rgba(0, 0, 0, 0)), color-stop(42.68293%, rgba(100, 100, 225, 0.25)), color-stop(48.78049%, rgba(100, 100, 225, 0.25)), color-stop(48.78049%, rgba(0, 0, 0, 0)), color-stop(51.21951%, rgba(0, 0, 0, 0)), color-stop(51.21951%, rgba(100, 100, 225, 0.25)), color-stop(57.31707%, rgba(100, 100, 225, 0.25)), color-stop(57.31707%, rgba(0, 0, 0, 0)), color-stop(59.7561%, rgba(0, 0, 0, 0)), color-stop(59.7561%, rgba(100, 100, 225, 0.25)), color-stop(65.85366%, rgba(100, 100, 225, 0.25)), color-stop(65.85366%, rgba(0, 0, 0, 0)), color-stop(68.29268%, rgba(0, 0, 0, 0)), color-stop(68.29268%, rgba(100, 100, 225, 0.25)), color-stop(74.39024%, rgba(100, 100, 225, 0.25)), color-stop(74.39024%, rgba(0, 0, 0, 0)), color-stop(76.82927%, rgba(0, 0, 0, 0)), color-stop(76.82927%, rgba(100, 100, 225, 0.25)), color-stop(82.92683%, rgba(100, 100, 225, 0.25)), color-stop(82.92683%, rgba(0, 0, 0, 0)), color-stop(85.36585%, rgba(0, 0, 0, 0)), color-stop(85.36585%, rgba(100, 100, 225, 0.25)), color-stop(91.46341%, rgba(100, 100, 225, 0.25)), color-stop(91.46341%, rgba(0, 0, 0, 0)), color-stop(93.90244%, rgba(0, 0, 0, 0)), color-stop(93.90244%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 6.09756%, rgba(0, 0, 0, 0) 6.09756%, rgba(0, 0, 0, 0) 8.53659%, rgba(100, 100, 225, 0.25) 8.53659%, rgba(100, 100, 225, 0.25) 14.63415%, rgba(0, 0, 0, 0) 14.63415%, rgba(0, 0, 0, 0) 17.07317%, rgba(100, 100, 225, 0.25) 17.07317%, rgba(100, 100, 225, 0.25) 23.17073%, rgba(0, 0, 0, 0) 23.17073%, rgba(0, 0, 0, 0) 25.60976%, rgba(100, 100, 225, 0.25) 25.60976%, rgba(100, 100, 225, 0.25) 31.70732%, rgba(0, 0, 0, 0) 31.70732%, rgba(0, 0, 0, 0) 34.14634%, rgba(100, 100, 225, 0.25) 34.14634%, rgba(100, 100, 225, 0.25) 40.2439%, rgba(0, 0, 0, 0) 40.2439%, rgba(0, 0, 0, 0) 42.68293%, rgba(100, 100, 225, 0.25) 42.68293%, rgba(100, 100, 225, 0.25) 48.78049%, rgba(0, 0, 0, 0) 48.78049%, rgba(0, 0, 0, 0) 51.21951%, rgba(100, 100, 225, 0.25) 51.21951%, rgba(100, 100, 225, 0.25) 57.31707%, rgba(0, 0, 0, 0) 57.31707%, rgba(0, 0, 0, 0) 59.7561%, rgba(100, 100, 225, 0.25) 59.7561%, rgba(100, 100, 225, 0.25) 65.85366%, rgba(0, 0, 0, 0) 65.85366%, rgba(0, 0, 0, 0) 68.29268%, rgba(100, 100, 225, 0.25) 68.29268%, rgba(100, 100, 225, 0.25) 74.39024%, rgba(0, 0, 0, 0) 74.39024%, rgba(0, 0, 0, 0) 76.82927%, rgba(100, 100, 225, 0.25) 76.82927%, rgba(100, 100, 225, 0.25) 82.92683%, rgba(0, 0, 0, 0) 82.92683%, rgba(0, 0, 0, 0) 85.36585%, rgba(100, 100, 225, 0.25) 85.36585%, rgba(100, 100, 225, 0.25) 91.46341%, rgba(0, 0, 0, 0) 91.46341%, rgba(0, 0, 0, 0) 93.90244%, rgba(100, 100, 225, 0.25) 93.90244%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-position: left top;
  -ms-background-origin: content-box;
  background-origin: content-box;
  background-clip: content-box;
}

/* Chrome Frame Prompt
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003106}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles (Here be dragons)
   ========================================================================== */
/* Header
   ========================================================================== */
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003124}}
  .header-title {
    width: 65.85366%;
    float: left;
    margin-right: 2.43902%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .header-title {
  width: 65.85366%;
  float: left;
  margin-right: 2.43902%;
}

@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003130}}
  .header-navigation {
    width: 31.70732%;
    float: right;
    margin-right: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .header-navigation {
  width: 31.70732%;
  float: right;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003136}}
.header-links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000360}}
.header-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
.header-links li:first-child, .header-links li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
.header-links li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
.header-links li.last {
  padding-right: 0;
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003136}}
  .header-links {
    float: right;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .header-links {
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003144}}
.header-search {
  float: right;
}

/* Main
   ========================================================================== */
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003150}}
  .main {
    width: 65.85366%;
    float: left;
    margin-right: 2.43902%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .main {
  width: 65.85366%;
  float: left;
  margin-right: 2.43902%;
}

@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003158}}
  .left-box {
    width: 48.14815%;
    float: left;
    margin-right: 3.7037%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .left-box {
  width: 48.14815%;
  float: left;
  margin-right: 3.7037%;
}

@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003164}}
  .right-box {
    width: 48.14815%;
    float: right;
    margin-right: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .right-box {
  width: 48.14815%;
  float: right;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003170}}
.feature-list {
  list-style: none;
  clear: both;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_bullets\.scss}line{font-family:\0000311}}
.feature-list li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000322}}
.feature-list li {
  width: 47.5%;
  float: left;
  margin-right: 5%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.feature-list li:nth-child(2n) {
  float: right;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000326}}
.feature-list li:nth-child(2n+1) {
  clear: both;
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000322}}
  .feature-list li {
    width: 23.17073%;
    float: left;
    margin-right: 2.43902%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003251}}
  .feature-list li:nth-child(2n) {
    float: left;
    margin-right: 2.43902%;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000334}}
  .feature-list li:nth-child(2n+1) {
    clear: none;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
  .feature-list li:nth-child(4n) {
    float: right;
    margin-right: 0;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000339}}
  .feature-list li:nth-child(4n+1) {
    clear: both;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .feature-list li {
  width: 23.17073%;
  float: left;
  margin-right: 2.43902%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003251}}
.lt-ie9 .feature-list li:nth-child(2n) {
  float: left;
  margin-right: 2.43902%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000334}}
.lt-ie9 .feature-list li:nth-child(2n+1) {
  clear: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_grid\.scss}line{font-family:\00003184}}
.lt-ie9 .feature-list li:nth-child(4n) {
  float: right;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/inc\/_mixins\.scss}line{font-family:\0000339}}
.lt-ie9 .feature-list li:nth-child(4n+1) {
  clear: both;
}

/* Aside
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003176}}
.aside {
  background: grey;
  margin-left: -24px;
  padding-left: 24px;
  margin-right: -24px;
  padding-right: 24px;
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003176}}
  .aside {
    padding-left: 2.43902%;
    padding-right: 2.43902%;
    width: 26.82927%;
    float: right;
    margin-right: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .aside {
  padding-left: 2.43902%;
  padding-right: 2.43902%;
  width: 26.82927%;
  float: right;
  margin-right: 0;
}

/* Footer
   ========================================================================== */
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003192}}
  .footer-copyright {
    width: 48.78049%;
    float: left;
    margin-right: 2.43902%;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .footer-copyright {
  width: 48.78049%;
  float: left;
  margin-right: 2.43902%;
}

@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003198}}
  .footer-navigation {
    width: 48.78049%;
    float: right;
    margin-right: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .footer-navigation {
  width: 48.78049%;
  float: right;
  margin-right: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003204}}
.footer-links {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000360}}
.footer-links li {
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  white-space: nowrap;
  display: inline;
  float: left;
  padding-left: 4px;
  padding-right: 4px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000348}}
.footer-links li:first-child, .footer-links li.first {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000349}}
.footer-links li:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-0\.12\.2\/frameworks\/compass\/stylesheets\/compass\/typography\/lists\/_horizontal-list\.scss}line{font-family:\0000350}}
.footer-links li.last {
  padding-right: 0;
}
@media (min-width: 40em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/srv\/www\/quickstart\.tld\/public_html\/scss\/main\.scss}line{font-family:\00003204}}
  .footer-links {
    float: right;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/susy-1\.0\.8\/sass\/susy\/_media\.scss}line{font-family:\0000391}}
.lt-ie9 .footer-links {
  float: right;
}

/* ==========================================================================
   Final imports
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\000037}}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\0000327}}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\000039}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\0000311}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\0000367}}
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\0000313}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\0000393}}
.clearfix:before, .wrap:before, .chromeframe:before, .header:before, .main:before, .feature-list:before, .aside:before, .footer:before, .clearfix:after, .wrap:after, .chromeframe:after, .header:after, .main:after, .feature-list:after, .aside:after, .footer:after {
  content: " ";
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\0000398}}
.clearfix:after, .wrap:after, .chromeframe:after, .header:after, .main:after, .feature-list:after, .aside:after, .footer:after {
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_helpers\.scss}line{font-family:\00003104}}
.clearfix, .wrap, .chromeframe, .header, .main, .feature-list, .aside, .footer {
  *zoom: 1;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000311}}
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000319}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000323}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000327}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000337}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000342}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000347}}
  thead {
    display: table-header-group;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000352}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000356}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000366}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/daniel\/\.rvm\/gems\/ruby-1\.9\.3-p286\/gems\/compass-h5bp-0\.1\.1\/stylesheets\/h5bp\/_media\.scss}line{font-family:\0000372}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* ==========================================================================
   Shame: http://csswizardry.com/2013/04/shame-css/
   For all the hacky code that really shouldn't be used
   ========================================================================== */
/*                      /\
                        ||
                        ||
                        ||
                        ||                                               ~-----~
                        ||                                            /===--  ---~~~
                        ||                   ;'                 /==~- --   -    ---~~~
                        ||                (/ ('              /=----         ~~_  --(  '
                        ||             ' / ;'             /=----               \__~
     '                ~==_=~          '('             ~-~~      ~~~~        ~~~--\~'
     \                (c_\_        .i.             /~--    ~~~--   -~     (     '
      `\               (}| /       / : \           / ~~------~     ~~\   (
      \ '               ||/ \      |===|          /~/             ~~~ \ \(
      ``~\              ~~\  )~.~_ >._.< _~-~     |`_          ~~-~     )\
       '-~                 {  /  ) \___/ (   \   |` ` _       ~~         '
       \ -~\                -<__/  -   -  L~ -;   \    \ _ _/
       `` ~~=\                  {    :    }\ ,\    ||   _ :(
        \  ~~=\__                \ _/ \_ /  )  } _//   ( `|'
        ``    , ~\--~=\           \     /  / _/ / '    (   '
         \`    } ~ ~~ -~=\   _~_  / \ / \ )^ ( // :_  / '
         |    ,          _~-'   '~~__-_  / - |/     \ (
          \  ,_--_     _/              \_'---', -~ .   \
           )/      /\ / /\   ,~,         \__ _}     \_  "~_
           ,      { ( _ )'} ~ - \_    ~\  (-:-)       "\   ~
                  /'' ''  )~ \~_ ~\   )->  \ :|    _,       "
                 (\  _/)''} | \~_ ~  /~(   | :)   /          }
                <``  >;,,/  )= \~__ {{{ '  \ =(  ,   ,       ;
               {o_o }_/     |v  '~__  _    )-v|  "  :       ,"
               {/"\_)       {_/'  \~__ ~\_ \_} '  {        /~\
               ,/!          '_/    '~__ _-~ \_' :  '      ,"  ~
              (''`                  /,'~___~    | /     ,"  \ ~'
             '/, )                 (-)  '~____~";     ,"     , }
           /,')                    / \         /  ,~-"       '~'
       (  ''/                     / ( '       /  /          '~'
    ~ ~  ,, /) ,                 (/( \)      ( -)          /~'
  (  ~~ )`  ~}                   '  \)'     _/ /           ~'
 { |) /`,--.(  }'                    '     (  /          /~'
(` ~ ( c|~~| `}   )                        '/:\         ,'
 ~ )/``) )) '|),                          (/ | \)                 -sjm
  (` (-~(( `~`'  )                        ' (/ '
   `~'    )'`')                              '
     ` ``*/
