/* ==========================================================================
   Extends
   ========================================================================== */

/* Image replacement technique: http://www.zeldman.com/2012/03/01/replacing-the-9999px-hack-new-image-replacement/
   ========================================================================== */
%hide-text {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
}