/* ==========================================================================
   Vertical Rhythem
   http://compass-style.org/reference/compass/typography/vertical_rhythm/
   ========================================================================== */

@include establish-baseline;

body {
	font-size: inherit;
	line-height: inherit;
}

li {
	ul,
	ol {
		// remove the margin from inside multi-level lists
		@include rhythm(0);
	}
}

p,
pre,
ul,
ol {
	margin: rhythm(1) 0;
}

h1, .h1 {
	/* Set the font-size and line-height while keeping a proper vertical rhythm. */
	@include adjust-font-size-to( $h1-font-size );

	/* Set 1 unit of vertical rhythm on the top and bottom margins. */
	@include leader(1, $h1-font-size);
	@include trailer(1, $h1-font-size);
}

h2, .h2 {
	@include adjust-font-size-to( $h2-font-size );
	@include leader(1, $h2-font-size);
	@include trailer(1, $h2-font-size);
}

h3, .h3 {
	@include adjust-font-size-to( $h3-font-size );
	@include leader(1, $h3-font-size);
	@include trailer(0, $h3-font-size);
	+* {
		@include rhythm(0, 0, 0, 1);
	}
}

h4, .h4 {
	@include adjust-font-size-to( $h4-font-size );
	@include leader(1, $h4-font-size);
	@include trailer(0, $h4-font-size);
	+* {
		@include rhythm(0, 0, 0, 1);
	}
}

h5, .h5 {
	@include adjust-font-size-to( $h5-font-size );
	@include leader(1, $h5-font-size);
	@include trailer(0, $h5-font-size);
	+* {
		@include rhythm(0, 0, 0, 1);
	}
}

h6, .h6 {
	@include adjust-font-size-to( $h6-font-size );
	@include leader(1, $h6-font-size);
	@include trailer(0, $h6-font-size);
	+* {
		@include rhythm(0, 0, 0, 1);
	}
}